# eclipse
/bin/
*.class

# gradle
.gradle
/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# bot credentials
auth.properties

# other
.DS_Store
*/.DS_Store
/.gradle/

# Exported images
/test.png